In [9]:
import os  
import numpy as np  
import pandas as pd
import sklearn
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
path = '/Users/rjmac/College/USACTIVITYAndDETAILS/Stevens_Study_Material/Sem2_2017/KDDM/Final_Project/HR_comma_sep.csv'
data2 = pd.read_csv(path, header=None, names=["satisfaction_level","last_evaluation","number_project","average_montly_hours","time_spend_company","Work_accident","promotion_last_5years","left"])
data2.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,left
0,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,left
1,0.38,0.53,2,157,3,0,0,1
2,0.8,0.86,5,262,6,0,0,1
3,0.11,0.88,7,272,4,0,0,1
4,0.72,0.87,5,223,5,0,0,1

In [10]:
data2.iloc[1:].head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,left
1,0.38,0.53,2,157,3,0,0,1
2,0.8,0.86,5,262,6,0,0,1
3,0.11,0.88,7,272,4,0,0,1
4,0.72,0.87,5,223,5,0,0,1
5,0.37,0.52,2,159,3,0,0,1

In [11]:
data2 = data2.iloc[1:]
# for i in range(data2.shape[0]):
#     for j in range(data2.shape[1]):
#         data2.iloc[i,j] = float(data2.iloc[i,j])

In [12]:
data2.head()
training_features = ['satisfaction_level', 'last_evaluation', 'number_project', 'average_montly_hours', 'time_spend_company','Work_accident','promotion_last_5years']
target = 'left'
train_x, test_x, train_y, test_y = train_test_split(data2[training_features], data2[target], train_size=0.7)
train_x.shape

(10499, 7)

In [13]:
X = data2.drop('left',axis=1)
lm = LogisticRegression()

In [14]:
train_x = train_x.astype(float)
train_y = train_y.astype(float)
test_x = test_x.astype(float)
test_y = test_y.astype(float)
lm.fit(train_x,train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [15]:
accuracy_score_trained_set = lm.score(train_x, train_y)
accuracy_score_trained_set

0.76378702733593673

In [16]:
accuracy_score_test_set = lm.score(test_x, test_y)
accuracy_score_test_set

0.77222222222222225